<!DOCTYPE html>
<html lang="en-US">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="discrption" content="parallax one page" />
<meta name="keyword" content="agency, business, corporate, creative, freelancer, interior, joomla template, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple" />
<!-- Title -->
<title>穆斯卡拉斯-关于我们</title>
<!-- Font Google -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="../../static/assets/img/favicon.ico" type="image/x-icon" />
<link rel="icon" href="../../static/img/logo-dark.png" type="image/x-icon" />
<!-- custom styles(optional) -->
<link href="../static/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="../static/assets/css/style.css" rel="stylesheet" />
</head>
<body class="dsn-effect-scroll dsn-cursor-effect dsn-ajax">
<div class="preloader">
  <div class="preloader-bar">
    <div class="preloader-progress"></div>
  </div>
  <h1 class="title v-middle"><span class="percent ">0</span><span class="text-strok">MusiCrash</span><span class="text-fill">MusiCrash</span></h1>
</div>

<div class="site-header">
  <div class="extend-container d-flex w-100 align-items-baseline justify-content-between align-items-end">
    <div class="inner-header p-relative">
      <div class="main-logo"><a href="index.html" data-dsn="parallax"><img class="dark-logo" src="../static/assets/img/logo-dark.png" alt="" /><img class="light-logo" src="../../static/img/logo.png" alt="" /></a></div>
    </div>
    <div class="menu-icon d-flex align-items-baseline">
      <div class="text-menu p-relative  font-heading text-transform-upper">
        <div class="p-absolute text-button">Menu</div>
        <div class="p-absolute text-open">Open</div>
        <div class="p-absolute text-close">Close</div>
      </div>
      <div class="icon-m " data-dsn="parallax"><span class="menu-icon-line p-relative d-inline-block icon-top"></span><span class="menu-icon-line p-relative d-inline-block icon-center"></span><span class="menu-icon-line p-relative d-block icon-bottom"></span></div>
    </div>
    <nav class="accent-menu main-navigation p-absolute  w-100  d-flex align-items-baseline ">
      <div class="menu-cover-title">Menu</div>
      <ul class="extend-container p-relative d-flex flex-column justify-content-center h-100">
        <li class="dsn-active dsn-drop-down"><a href="#" class="user-no-selection"><span class="dsn-title-menu">Home</span><span class="dsn-meta-menu">01</span><span class="dsn-bg-arrow"></span></a>
          <ul>
            <li class="dsn-back-menu"><img src="../static/assets/img/left-chevron.svg" alt=""><span class="dsn-title-menu">Home</span></li>
            <li><a href="index.html"><span class="dsn-title-menu">One Page 1</span><span class="dsn-meta-menu">01</span></a></li>
            <li><a href="demo2.html"><span class="dsn-title-menu">One Page 2</span><span class="dsn-meta-menu">02</span></a></li>
            <li><a href="demo3.html"><span class="dsn-title-menu">One Page 3</span><span class="dsn-meta-menu">03</span></a></li>
            <li><a href="demo-video.html"><span class="dsn-title-menu">One Page 4</span><span class="dsn-meta-menu">04</span></a></li>
          </ul>
        </li>
        <li class="dsn-drop-down"><a href="#" class="user-no-selection"><span class="dsn-title-menu">Sliders</span><span class="dsn-meta-menu">02</span><span class="dsn-bg-arrow"></span></a>
          <ul>
            <li class="dsn-back-menu"><img src="../static/assets/img/left-chevron.svg" alt=""><span class="dsn-title-menu">Sliders</span></li>
            <li><a href="slider2.html"><span class="dsn-title-menu">Slider Vertical</span><span class="dsn-meta-menu">01</span></a></li>
            <li><a href="slider-horizontal.html"><span class="dsn-title-menu">Slider Horizontal</span><span class="dsn-meta-menu">02</span></a></li>
            <li><a href="slider3.html"><span class="dsn-title-menu">Slider 3 Column</span><span class="dsn-meta-menu">03</span></a></li>
            <li><a href="slider.html"><span class="dsn-title-menu">Slider slice</span><span class="dsn-meta-menu">04</span></a></li>
          </ul>
        </li>
        <li class="dsn-drop-down"><a href="#" class="user-no-selection"><span class="dsn-title-menu">Portfolio</span><span class="dsn-meta-menu">03</span><span class="dsn-bg-arrow"></span></a>
          <ul>
            <li class="dsn-back-menu"><img src="../static/assets/img/left-chevron.svg" alt=""><span class="dsn-title-menu">Portfolio</span></li>
            <li><a href="work.html"><span class="dsn-title-menu">Work 3 columns</span><span class="dsn-meta-menu">01</span></a></li>
            <li><a href="work-2.html"><span class="dsn-title-menu">Work V2</span><span class="dsn-meta-menu">02</span></a></li>
            <li><a href="gallery.html"><span class="dsn-title-menu">gallery</span><span class="dsn-meta-menu">03</span></a></li>
            <li><a href="work-grid-2.html"><span class="dsn-title-menu">Work 2 columns</span><span class="dsn-meta-menu">04</span></a></li>
            <li><a href="work-grid-4.html"><span class="dsn-title-menu">Work 4 columns</span><span class="dsn-meta-menu">05</span></a></li>
            <li><a href="work-load.html"><span class="dsn-title-menu">Work Load More</span><span class="dsn-meta-menu">06</span></a></li>
            <li><a href="work-4.html"><span class="dsn-title-menu">Work horizontal</span><span class="dsn-meta-menu">07</span></a></li>
            <li><a href="work-3.html"><span class="dsn-title-menu">Work carousel</span><span class="dsn-meta-menu">08</span></a></li>
          </ul>
        </li>
        <li class="dsn-drop-down"><a href="#" class="user-no-selection"><span class="dsn-title-menu">About</span><span class="dsn-meta-menu">04</span><span class="dsn-bg-arrow"></span></a>
          <ul>
            <li class="dsn-back-menu"><img src="../static/assets/img/left-chevron.svg" alt=""><span class="dsn-title-menu">About</span></li>
            <li><a href="about.html"><span class="dsn-title-menu">About Us</span><span class="dsn-meta-menu">01</span></a></li>
            <li><a href="about-2.html"><span class="dsn-title-menu">About Us V2</span><span class="dsn-meta-menu">02</span></a></li>
          </ul>
        </li>
        <li class="dsn-drop-down"><a href="#" class="user-no-selection"><span class="dsn-title-menu">Stories</span><span class="dsn-meta-menu">05</span><span class="dsn-bg-arrow"></span></a>
          <ul>
            <li class="dsn-back-menu"><img src="../static/assets/img/left-chevron.svg" alt=""><span class="dsn-title-menu">Stories</span></li>
            <li><a href="blog.html"><span class="dsn-title-menu">Stories</span><span class="dsn-meta-menu">01</span></a></li>
            <li><a href="blog-grid.html"><span class="dsn-title-menu">Stories Grid</span><span class="dsn-meta-menu">02</span></a></li>
            <li><a href="post.html"><span class="dsn-title-menu">Single Post</span><span class="dsn-meta-menu">03</span></a></li>
          </ul>
        </li>
        <li class="dsn-drop-down"><a href="#" class="user-no-selection"><span class="dsn-title-menu">Contact</span><span class="dsn-meta-menu">06</span><span class="dsn-bg-arrow"></span></a>
          <ul>
            <li class="dsn-back-menu"><img src="../static/assets/img/left-chevron.svg" alt=""><span class="dsn-title-menu">Contact</span></li>
            <li><a href="contact.html"><span class="dsn-title-menu">Contact</span><span class="dsn-meta-menu">01</span></a></li>
            <li><a href="contact-2.html"><span class="dsn-title-menu">Contact V2</span><span class="dsn-meta-menu">02</span></a></li>
          </ul>
        </li>
      </ul>
      <div class="container-content  d-flex flex-column justify-content-end">
        <div class="nav__info">
          <div class="nav-content">
            <p class="title-line">Studio</p>
            <p>26-30 New Damietta<br>
              El-Mahalla El-Kubra,SK1 66LM</p>
          </div>
          <div class="nav-content">
            <p class="title-line">Contact</p>
            <p class="links over-hidden"><a href="#" data-hover-text="+00 (2)012 3321" class="link-hover">+00(2)012 3321</a></p>
            <p class="links  over-hidden"><a href="#" data-hover-text="info@dsngrid.com" class="link-hover">info@dsngrid.com</a></p>
          </div>
        </div>
        <div class="nav-social">
          <div class="nav-social-inner p-relative">
            <p class="title-line">Follow us</p>
            <ul>
              <li><a href="#" target="_blank" rel="nofollow">Dribbble.
                <div class="icon-circle"></div>
                </a></li>
              <li><a href="#" target="_blank" rel="nofollow">Behance.
                <div class="icon-circle"></div>
                </a></li>
              <li><a href="#" target="_blank" rel="nofollow">Linkedin.
                <div class="icon-circle"></div>
                </a></li>
              <li><a href="#" target="_blank" rel="nofollow">Twitter.
                <div class="icon-circle"></div>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-border-bottom"></div>
    </nav>
  </div>
</div>

<main class="main-root">
  <div id="dsn-scrollbar">
    <header>
      <div class="header-page background-section">
        <div class="container h-100">
          <div class="contenet-hero p-relative">
            <h2 class="title-page p-relative">关于我们</h2>
            <h1 class="title">穆斯科拉斯</h1>
            <p class="subtitle-page">
                我们始终认为，通过长期积累的技术、经验和吸引力，我们能够热情迎接挑战，为用户创造“感动”。为此，我们真诚地面对每一位客户，珍惜用户的宝贵意见。
            </p>
          </div>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <div class="image-head p-relative mb-section">
        <div class="bg-section p-absolute w-100 h-100 over-hidden">
          <div class="h-100 before-z-index" data-dsn-grid="move-up" data-overlay="5"><img class="cover-bg-img has-top-bottom" src="../static/assets/img/about/5.jpg" alt=""></div>
        </div>
        <div class="box-text margin-lr-100 p-relative background-theme section-padding">
          <h5>我们开发、维护和优化</h5>
          <h4>新时代<br>
            Welectronic平台</h4>
          <div class="shap-section"><img src="../static/assets/img/arr.svg" alt=""></div>
        </div>
      </div>
      <div class="hero-about section-margin">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 heading">
              <h2 class="title-h2">做重要的事情。</h2>
            </div>
            <div class="col-lg-7 intro-about">
              <h5 class="sm-title-block">一个充满激情的团队，在发布新的数字产品时有明确的目标。无论是渠道还是设备，我们都想让我们的客户普遍存在。</h5>
              <p class="p-larg">我们创造人们喜爱的数字体验和品牌。当我听到麦穗间嗡嗡作响的小世界，渐渐熟悉了无数不可名状的东西。</p>
            </div>
          </div>
        </div>
      </div>
      <section class="services-about section-margin">
        <div class="container services-wp">
          <div class="row">
            <div class="col-lg-5">
              <div class="box-title-services">
                <ul>
                  <li id="tabs-1" class="link-click active title-block">设计</li>
                  <li id="tabs-3" class="link-click title-block">开发</li>
                  <li id="tabs-4" class="link-click title-block">支持</li>
<!--                  <li id="tabs-5" class="link-click title-block">marketing.</li>-->
                </ul>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="content">
                <div id="tabs-1-content" class="services-item-info">
                  <h5>专业知识</h5>
                  <h4 class="title-block">消费品及服务</h4>
                  <p class="p-larg"> 我们在进行每一步创新的同时，对本地用户体验做出数据驱动的决策。从移动设备到平板电脑到桌面设备，我们的数字创作旨在对任何尺寸的屏幕产生影响。</p>
                  <ul>
                    <li>艺术方向</li>
                    <li>用户体验</li>
                    <li>用户接口</li>
                    <li>网页设计</li>
                  </ul>
                </div>
                <div id="tabs-3-content" class="services-item-info">
                  <h5>专业知识</h5>
                  <h4 class="title-block">开发</h4>
                  <p class="p-larg"> 我们的员工拥有丰富的钢琴销售经验。他们可以向你展示你从未想过的更全面的音乐世界和艺术形式。我们的工程师是艺术家——他们可以为设计注入活力，让网站以一种你从未想过的方式运行。

</p>
                  <ul>
                    <li>电子商务</li>
                    <li>电商服务平台</li>
                    <li>维护</li>
                  </ul>
                </div>
                <div id="tabs-4-content" class="services-item-info">
                  <h5>E专业知识</h5>
                  <h4 class="title-block">支持</h4>
                  <p class="p-larg">我们是来帮你的。有任何需要，随时联系我们。持续的技术支持是协议的一部分，所以你可以专注于你梦想中的钢琴，没有烦恼。 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="team section-margin">
        <div class="container section-title">
          <h2>我们的团队成员</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 team-item-inner">
              <div class="team-item p-relative">
                <div class="box-img"> <img src="../static/assets/img/team/2.jpg" alt="" class="cover-bg-img p-absolute"> </div>
                <div class="text-box p-relative">
                  <h5>管理人员</h5>
                  <h3 class="title-block">Jeremy Dupont</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 team-item-inner">
              <div class="team-item p-relative">
                <div class="box-img"> <img src="../static/assets/img/team/3.jpg" alt="" class="cover-bg-img p-absolute"> </div>
<
                <div class="text-box p-relative">
                  <h5>咨询师</h5>
                  <h3 class="title-block">Alexander Harvard</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 team-item-inner">
              <div class="team-item p-relative">
                <div class="box-img"> <img src="../static/assets/img/team/3.jpg" alt="" class="cover-bg-img p-absolute"> </div>

                <div class="text-box p-relative">
                  <h5>客服</h5>
                  <h3 class="title-block">Alexander Harvard</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 team-item-inner">
              <div class="team-item p-relative">
                <div class="box-img"> <img src="../static/assets/img/team/1.jpg" alt="" class="cover-bg-img p-absolute"> </div>

                <div class="text-box p-relative">
                  <h5>客服</h5>
                  <h3 class="title-block">JEREMY DUPONT</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 team-item-inner">
              <div class="team-item p-relative">
                <div class="box-img"> <img src="../static/assets/img/team/2.jpg" alt="" class="cover-bg-img p-absolute"> </div>

                <div class="text-box p-relative">
                  <h5>技术咨询</h5>
                  <h3 class="title-block">Jeremy Dupont</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 team-item-inner">
              <div class="team-item p-relative">
                <div class="box-img"> <img src="../static/assets/img/team/3.jpg" alt="" class="cover-bg-img p-absolute"> </div>

                <div class="text-box p-relative">
                  <h5>维护人员</h5>
                  <h3 class="title-block">Alexander Harvard</h3>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <section class="testimonials-2 testimonials-3 section-margin">
        <div class="container section-title">
          <h2>顾客留言</h2>
        </div>
        <div class="container h-100">
          <div class="row align-items-center h-100">
            <div class="col-lg-3 col-md-4">
              <div class="nav-container">
                <div class="testimonials-nav">
                  <div class="testimonials-nav-item">
                    <div class="testimonials-nav-item-inner"> <img src="../static/assets/img/avatar/1.jpg" alt="">
                      <div class="info">
                        <h5>Vikinglivet</h5>
                        <h6>顾客 A</h6>
                      </div>
                    </div>
                  </div>
                  <div class="testimonials-nav-item">
                    <div class="testimonials-nav-item-inner"> <img src="../static/assets/img/avatar/2.jpg" alt="">
                      <div class="info">
                        <h5>Muhammad Khedr</h5>
                        <h6>顾客 B</h6>
                      </div>
                    </div>
                  </div>
                  <div class="testimonials-nav-item">
                    <div class="testimonials-nav-item-inner"> <img src="../static/assets/img/avatar/3.jpg" alt="">
                      <div class="info">
                        <h5>Caeleth</h5>
                        <h6>顾客 C</h6>
                      </div>
                    </div>
                  </div>
                  <div class="testimonials-nav-item">
                    <div class="testimonials-nav-item-inner"> <img src="../static/assets/img/avatar/4.jpg" alt="">
                      <div class="info">
                        <h5>w0anerges</h5>
                        <h6>顾客 D</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-8">
              <div class="testimonials-main-content dsn-is-not-fade">
                <div class="testimonials-item">
                  <div class="top-box">
                    <h4 class="title-block">品质</h4>
                    <p class="p-larg">网页的布局和功能设计令人惊叹。我可以感觉到我在一个大钢琴店浏览，同时可以得到任何一架钢琴的细节。</p>
                  </div>
                </div>
                <div class="testimonials-item">
                  <div class="top-box">
                    <h4 class="title-block">质量</h4>
                    <p class="p-larg">功能设计非常丰富。在这里，我甚至可以体验触摸钢琴的感觉。</p>
                  </div>
                </div>
                <div class="testimonials-item">
                  <div class="top-box">
                    <h4 class="title-block">客服</h4>
                    <p class="p-larg">我得到了无与伦比的支持。当我需要更多信息时，客服可以快速回复我并接受我的咨询。</p>
                  </div>
                </div>
                <div class="testimonials-item">
                  <div class="top-box">
                    <h4 class="title-block">用户支持</h4>
                    <p class="p-larg">用户信息管理非常好。我可以很容易地管理我的订单和收集的物品。Musicrash让它看起来既高效又漂亮。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="brand-client section-margin">
        <div class="container section-title">
          <h2>您的成功,<br>
            我们的荣幸</h2>
        </div>
        <div class="container">
        </div>
      </section>
    </div>
    <footer class="footer-1 p-relative background-section">
      <div class="container">
        <div class="footer-links p-relative">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-block-inner">
              <div class="footer-block">
                <div class="footer-logo"><a href=""><img src="../../static/img/logo.png" alt="" class="logo-dark"><img src="../static/assets/img/logo-dark.png" alt="" class="logo-light"></a></div>
                <div class="textwidget">
                  <p>We support programs that create advancement opportunities for people.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-block-inner">
              <div class="footer-block col-menu">
                <h4 class="footer-title">Follow us</h4>
                <div class="footer-social p-relative">
                  <ul>
                    <li class="over-hidden"><a href="#" data-dsn="parallax" target="_blank" rel="nofollow">Dribbble.</a></li>
                    <li class="over-hidden"><a href="#" data-dsn="parallax" target="_blank" rel="nofollow">Behance.</a></li>
                    <li class="over-hidden"><a href="#" data-dsn="parallax" target="_blank" rel="nofollow">Twitter.</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-block-inner">
              <div class="footer-block col-contact">
                <h4 class="footer-title">Contact</h4>
                <p><strong>T</strong><span>:</span>+001 225 3351</p>
                <p><strong>F</strong><span>:</span>+001 225 3351</p>
                <p class="over-hidden"><strong>E</strong><span>:</span><a class="link-hover" data-hover-text="info@dsngrid.com" href="#">info@dsngrid.com</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-block-inner">
              <div class="col-address">
                <h4 class="footer-title">Address</h4>
                <p>El-Mahalla El-Kubra 37<br>
                  1776 Damietta<br>
                  Egypt</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-nav">
        <div class="container">
          <ul>
            <li><a class="link-hover" data-dsn="parallax" href="#">Home</a></li>
            <li><a class="link-hover" data-dsn="parallax" href="#">Portfolio</a></li>
            <li><a class="link-hover" data-dsn="parallax" href="#">About</a></li>
            <li><a class="link-hover" data-dsn="parallax" href="#">News</a></li>
            <li><a class="link-hover" data-dsn="parallax" href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <div class="text-center">
          <p>© 2022 MusiCrash</p>
          <div class="copright-text over-hidden">Designed by <a class="link-hover" data-hover-text="DSN Grid" href="#" target="_blank">MusiCrash</a></div>
        </div>
      </div>
    </footer>
  </div>
  <div class="scroll-to-top"><img src="../static/assets/img/scroll_top.svg" alt="">
    <div class="box-numper"><span>10%</span></div>
  </div>
  <div class="cursor">
    <div class="cursor-helper"><span class="cursor-drag">Drag</span><span class="cursor-view">View</span><span class="cursor-open"><i class="fas fa-plus"></i></span><span class="cursor-close">Close</span><span class="cursor-play">play</span><span class="cursor-next"><i class="fas fa-chevron-right"></i></span><span class="cursor-prev"><i class="fas fa-chevron-left"></i></span></div>
  </div>
  <div class="day-night">
    <div class="night active" data-dsn-theme="dark">
      <svg width="48" height="48" viewBox="0 0 48 48">
        <rect x="12.3" y="23.5" width="2.6" height="1"></rect>
        <rect x="16.1" y="15.3" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -6.8871 16.5732)" width="1" height="2.6"></rect>
        <rect x="23.5" y="12.3" width="1" height="2.6"></rect>
        <rect x="30.1" y="16.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.5145 27.0538)" width="2.6" height="1"></rect>
        <rect x="33.1" y="23.5" width="2.6" height="1"></rect>
        <rect x="30.9" y="30.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -12.9952 31.4264)" width="1" height="2.6"></rect>
        <rect x="23.5" y="33.1" width="1" height="2.6"></rect>
        <rect x="15.3" y="30.9" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -17.3677 20.9457)" width="2.6" height="1"></rect>
        <path d="M24,18.7c-2.9,0-5.3,2.4-5.3,5.3s2.4,5.3,5.3,5.3s5.3-2.4,5.3-5.3S26.9,18.7,24,18.7z M24,28.3c-2.4,0-4.3-1.9-4.3-4.3s1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3S26.4,28.3,24,28.3z"></path>
      </svg>
    </div>
    <div class="moon" data-dsn-theme="night">
      <svg width="48" height="48" viewBox="0 0 48 48">
        <path d="M24,33.9c-5.4,0-9.9-4.4-9.9-9.9c0-4.3,2.7-8,6.8-9.4l0.8-0.3l-0.1,0.9c-0.2,0.6-0.2,1.3-0.2,1.9c0,5.2,4.3,9.5,9.5,9.5c0.6,0,1.3-0.1,1.9-0.2l0.8-0.2L33.3,27C32,31.1,28.3,33.9,24,33.9z M20.4,15.9c-3.2,1.4-5.3,4.5-5.3,8.1c0,4.9,4,8.9,8.9,8.9c3.6,0,6.7-2.1,8.1-5.3c-0.4,0-0.8,0.1-1.3,0.1c-5.8,0-10.5-4.7-10.5-10.5C20.4,16.7,20.4,16.3,20.4,15.9z"></path>
      </svg>
    </div>
  </div>
</main>
<!-- Optional JavaScript --><script src="../static/assets/js/jquery-3.1.1.min.js"></script><script src="../static/assets/js/plugins.js"></script><script src="../static/assets/js/dsn-grid.js"></script><script src="../static/assets/js/custom.js"></script>
</body>
</html>