<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!-- 引入 js -->
<script src="../../static/script/wangEditor_revise.min.js"></script>
    <script src="{{ url_for('static',filename='script/av-min.js') }}"></script>
</head>
<body>
<div id="editor" style="margin: 40px"></div>
</body>
{#<script>#}
{#    const E = window.wangEditor;#}
{#    const editor = new E('#editor');#}
{#    editor.config.uploadImgServer = 'https://ppobpvtv.api.lncldglobal.com/1.1/functions/upload_img'#}
{#    editor.config.uploadImgHeaders = {#}
{#        'x-lc-id': 'pPObpvTV7pQB9poQHO1NJoMP-MdYXbMMI','x-lc-sign': '87d28a0e718a4ea4846b00ea2a53bdb4,1647415050912'#}
{#    }#}
{#    editor.create();#}
{#</script>#}
<script>




    AV.init({
  appId: "pPObpvTV7pQB9poQHO1NJoMP-MdYXbMMI",
  appKey: "pShwYQQ4JVfSStc56MvkHNrr",
});

    const E = window.wangEditor;
    const editor = new E('#editor');
    editor.config.customUploadImg = function (resultFiles, insertImgFn) {
    // resultFiles 是 input 中选中的文件列表
    // insertImgFn 是获取图片 url 后，插入到编辑器的方法
        const file = new AV.File(resultFiles[0].name, resultFiles[0]);
        file.save().then((file) => {
          insertImgFn(file.get("url"))
        }, (error) => {
          // 保存失败，可能是文件无法被读取，或者上传过程中出现问题
        });

    }
    editor.create();
</script>
</html>