{% extends 'MusiCrashTemplates/base.html' %}

{% block  extra_meta %}
    <meta charset="UTF-8">
    <meta name="product_id" content="{{ product_id }}">
{% endblock %}

{% block title %}
    Product Editor
{% endblock %}

{% block sebian_css %}
{{ super() }}
{% endblock %}

{% block extra_head_script %}
    <script src="{{ url_for('static',filename='script/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='script/wangEditor_revise.min.js') }}"></script>
    <script src="{{ url_for('static',filename='script/user.js') }}"></script>
    <script src="{{ url_for('static',filename='js/product.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{% endblock %}


{% block content %}
      <div class="background-section ">
        <div class="container h-100">
{#        标题部分#}
          <div class="contenet-hero">
              <div class="form-group text-center">
                <div class="entry">
                  <h1 class="p-relative title">title:<input id="title" type="text" name="email" placeholder="" required="required" data-error="Valid email is required."></h1>
                <div class="help-block with-errors"></div>
                </div>
            </div>
{#          文件上传部分#}
              <div class="text-center">
{#                  输入框#}
                  <h2 class="title-page ">cover:</h2>
                  <div class = "file-box">
                    <div class="row">
                        <div class="col-6">
                         <div class="form-group">
                        <div class="entry">
                            <input type='text' name='textfield' id='textfield'  />
                        <div class="help-block with-errors"></div>
                        </div>
                    </div>
{#                    上传按钮#}
                    </div>
                      <div class="col-6">
                      <div class="text-center">
                        <div class="image-zoom w-auto d-inline-block" data-dsn="parallax">
                            <input type='button' class='btn darkgray-font' value='Browse' />
                            <input type="file" name="fileField" class="file" id="fileField" size="28" onchange="document.getElementById('textfield').value=this.value" />
                            <input type="submit" name="submit" class="btn darkgary-font margin-left-5" value="Upload" />
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
              </div>
{#          描述部分#}
              <div class="form-group text-center">
                <div class="entry">
                    <p class="subtitle-page">description: <input id='description' type="text" ></p>
                <div class="help-block with-errors"></div>
                </div>
            </div>
{#            标签部分#}
              <div class="form-group text-center">
                     <h4>Labels </h4>
                        <span class="label label-info background-antiquewhite background-boarder margin-left-4">Label<span><button><i class="bi bi-dash background-navajowhite background-boarder"></i></button></span></span>
                        <span class="label label-info background-antiquewhite background-boarder margin-left-4">Label<span><button><i class="bi bi-dash background-navajowhite background-boarder"></i></button></span></span>
                        <span class="label label-info background-antiquewhite background-boarder margin-left-4">Label<span><button><i class="bi bi-dash background-navajowhite background-boarder"></i></button></span></span>
                        <!--{% for label in labels %}
                              <span class="label label-info background-antiquewhite background-boarder margin-left-4">{{ label.labelname }}<span><button><i class="bi bi-file-earmark-x background-navajowhite background-boarder"></i></button></span></span>
                        {% endfor %}
                        -->
                </div>
            </div>
          <div id="editor" style="margin: 20px"></div>
          <hr>
          <div class="col-12">
              <div class="text-center">
                <div class="image-zoom w-auto d-inline-block" data-dsn="parallax">
                  <button class="btn-form" onclick="submit()"><span class="label">Submit</span><span class="icon-c"></span></button>
                </div>
              </div>
          </div>

        </div>
      </div>
      </div>

{% endblock %}

{% block sebian_script %}
{{ super() }}
{% endblock %}

{% block scirpt %}
    <script src="{{ url_for('static',filename='script/productEditor.js') }}"></script>
    <script>
        let id=document.getElementsByTagName('meta')['product_id'].content
        if(id!=='') {
            getProductById(id, function (product) {
                loadProduct(product)
            })
        }
    </script>


{% endblock %}