<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="discrption" content="parallax one page"/>
  <meta name="keyword" content="agency, business, corporate, creative, freelancer, interior, joomla template, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple"/>
    <!-- Title -->
  <title>Daro - Creative Ajax Showcase Portfolio Template</title>
    <!-- Font Google -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../jQuerybootstrapsCyzhmoban/assets/img/favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="../jQuerybootstrapsCyzhmoban/assets/img/favicon.ico" type="image/x-icon"/>
    <!-- custom styles(optional) -->
    <link href="../jQuerybootstrapsCyzhmoban/assets/css/plugins.css" rel="stylesheet"/>
    <link href="../jQuerybootstrapsCyzhmoban/assets/css/style.css" rel="stylesheet"/>

  <!-- FONTS ONLINE -->
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!--MAIN STYLE-->
  <link href="../../static/style/main_css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../../static/style/sebian_css/main.css" rel="stylesheet" type="text/css">
  <link href="../../static/style/sebian_css/style.css" rel="stylesheet" type="text/css">
  <link href="../../static/style/sebian_css/responsive.css" rel="stylesheet" type="text/css">
  <link href="../../static/style/sebian_css/animate.css" rel="stylesheet" type="text/css">
  <!-- ADD YOUR OWN STYLING HERE. AVOID TO USE STYLE.CSS AND MAIN.CSS. IT WILL BE HELPFUL FOR YOU IN FUTURE UPDATES -->
  <link href="../../static/style/sebian_css/custom.css" rel="stylesheet" type="text/css">

  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

  <!-- JavaScripts -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->


</head>
<body>
    <!--Loader page-->
    <div class="preloader">
      <div class="preloader-bar">
        <div class="preloader-progress"></div>
      </div>
      <h1 class="title v-middle"><span class="percent ">0</span><span class="text-strok">DARO</span><span class="text-fill">DARO</span></h1>
    </div>
    <!-- 头像信息section -->
    <section class="testimonial" data-stellar-background-ratio="0.7" >
      <div class="section-p-60px overlay">
        <div class="container">

          <!-- Tittle -->
          <div class="tittle white animate fadeInUp" data-wow-delay="2s">
            <h5>Hello XXXX</h5>
            <p>Our Happy Clients</p>
          </div>

          <!-- Slider Section -->
          <div class="testi-slides animate fadeInUp" data-wow-delay="2s">

            <!-- Slider 1 -->
            <div class="testi">
              <div class="avatar"> <img src="../../static/image/sebian_imgs/avatars/avatar-4.png" alt=""> </div>
              <p>Add your personal statement</p>
              <hr>
              <h6>Welcome To MusiCrush</h6>
              <p>1st March 2022</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--个人信息设置，购物车，个人订单-->
    <section class="service section-margin dsn-animate" data-dsn-animate="section">
        <div class="container section-title">
          <h2 class="d-inline-block background-transparent background-boarder">Your Tool Box</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 service-content dsn-up bac">
              <div class="services-item d-flex p-relative  ">
                <div class="after-bg p-absolute w-100 h-100 cover-bg antiquewhite" data-image-src="../jQuerybootstrapsCyzhmoban/assets/img/pattern.png"></div>
                <div class="icon"><img src="../jQuerybootstrapsCyzhmoban/assets/img/services/graph.svg" alt=""></div>
                <div class="content"><span class="theme-color">01</span>
                  <h4 class="title-block ">Bag</h4>
                  <p>Here is for what you have collected</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 service-content dsn-up">
              <div class="services-item d-flex p-relative">
                <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="../jQuerybootstrapsCyzhmoban/assets/img/pattern.png"></div>
                <div class="icon"><img src="../jQuerybootstrapsCyzhmoban/assets/img/services/layout.svg" alt=""></div>
                <div class="content"><span class="theme-color">02</span>
                  <h4 class="title-block">Orders</h4>
                  <p>Here is for what you have bought</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 service-content dsn-up">
              <div class="services-item d-flex p-relative">
                <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="../jQuerybootstrapsCyzhmoban/assets/img/pattern.png"></div>
                <div class="icon"><img src="../jQuerybootstrapsCyzhmoban/assets/img/services/idea.svg" alt=""></div>
                <div class="content"><span class="theme-color">03</span>
                  <h4 class="title-block">Account</h4>
                  <p>Here is for your account information</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 service-content dsn-up">
              <div class="services-item d-flex p-relative">
                <div class="after-bg p-absolute w-100 h-100 cover-bg" data-image-src="../jQuerybootstrapsCyzhmoban/assets/img/pattern.png"></div>
                <div class="icon"><img src="../jQuerybootstrapsCyzhmoban/assets/img/services/layout.svg" alt=""></div>
                <div class="content"><span class="theme-color">04</span>
                  <h4 class="title-block">Following</h4>
                  <p>Here is the stores your have followed</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- 近期购物浏览section-->
    <section class="work-inner work-masonry p-relative section-margin ">
        <div class="container section-title-2 margin-reduce-20">
          <h2>Recent History</h2>
          <p>We Remember Your Trace</p>
        </div>
        <div class="container">
          <div class="projects-list p-relative w-100 gallery-portfolio ">
            <div class="work-item-box p-relative Photography  architecture">
              <div class="work-item p-relative over-hidden"><a href="../jQuerybootstrapsCyzhmoban/assets/img/project/project3/1.jpg">
                <div class="img-next-box " data-overlay="6"><img class="cover-bg-img" src="../jQuerybootstrapsCyzhmoban/assets/img/project/project3/1.jpg" alt=""></div>
                </a>
                <div class="item-border p-absolute"></div>
                <div class="item-info p-absolute"><a href="../jQuerybootstrapsCyzhmoban/project3.html" class="effect-ajax" data-dsn-ajax="work">
                  <h5 class="cat antiquewhite-font">HH:MM:SS YYYY-MM-DD</h5>
                  <h4 class="lightgrey">Product Name</h4>
                  <span><span>More</span></span></a></div>
              </div>
            </div>
            <div class="work-item-box p-relative brand  fashion">
              <div class="work-item p-relative over-hidden"><a href="../jQuerybootstrapsCyzhmoban/assets/img/project/project1/1.jpg">
                <div class="img-next-box " data-overlay="2"><img class="cover-bg-img" src="../jQuerybootstrapsCyzhmoban/assets/img/project/project1/1.jpg" alt=""></div>
                </a>
                <div class="item-border p-absolute"></div>
                <div class="item-info p-absolute"><a href="../jQuerybootstrapsCyzhmoban/project1.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                  <h5 class="cat antiquewhite-font">HH:MM:SS YYYY-MM-DD</h5>
                  <h4 class="lightgrey">Product Name</h4>
                  <span><span>More</span></span></a></div>
              </div>
            </div>
            <div class="work-item-box p-relative photography  brand">
              <div class="work-item p-relative over-hidden"><a href="../jQuerybootstrapsCyzhmoban/assets/img/project/project4/1.jpg">
                <div class="img-next-box" data-overlay="5"><img class="cover-bg-img" src="../jQuerybootstrapsCyzhmoban/assets/img/project/project4/1.jpg" alt=""></div>
                </a>
                <div class="item-border p-absolute"></div>
                <div class="item-info p-absolute"><a href="../jQuerybootstrapsCyzhmoban/project4.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                  <h5 class="cat antiquewhite-font">HH:MM:SS YYYY-MM-DD</h5>
                  <h4 class="lightgrey">Product Name</h4>
                  <span><span>More</span></span></a></div>
              </div>
            </div>
            <div class="work-item-box p-relative photography  fashion">
              <div class="work-item  p-relative over-hidden"><a href="../jQuerybootstrapsCyzhmoban/assets/img/project/project5/1.jpg">
                <div class="img-next-box " data-overlay="5"><img class="cover-bg-img" src="../jQuerybootstrapsCyzhmoban/assets/img/project/project5/1.jpg" alt="" data-dsn-position="85%"></div>
                </a>
                <div class="item-border p-absolute"></div>
                <div class="item-info p-absolute"><a href="../jQuerybootstrapsCyzhmoban/project5.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                  <h5 class="cat antiquewhite-font">HH:MM:SS YYYY-MM-DD</h5>
                  <h4 class="lightgrey">Product Name</h4>
                  <span><span>More</span></span></a></div>
              </div>
            </div>
            <div class="work-item-box p-relative photography  brand">
              <div class="work-item p-relative over-hidden"><a href="../jQuerybootstrapsCyzhmoban/assets/img/project/project2/1.jpg">
                <div class="img-next-box " data-overlay="5"><img class="cover-bg-img" src="../jQuerybootstrapsCyzhmoban/assets/img/project/project2/1.jpg" alt="" data-dsn-position="38%"></div>
                </a>
                <div class="item-border p-absolute"></div>
                <div class="item-info p-absolute"><a href="../jQuerybootstrapsCyzhmoban/project2.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                  <h5 class="cat antiquewhite-font">HH:MM:SS YYYY-MM-DD</h5>
                  <h4 class="lightgrey">Product Name</h4>
                  <span><span>More</span></span></a></div>
              </div>
            </div>
            <div class="work-item-box p-relative photography  brand fashion">
              <div class="work-item  p-relative over-hidden"><a href="../jQuerybootstrapsCyzhmoban/assets/img/project/project6/1.jpg">
                <div class="img-next-box " data-overlay="5"><img class="cover-bg-img" src="../jQuerybootstrapsCyzhmoban/assets/img/project/project6/1.jpg" alt="" data-dsn-position="57%"></div>
                </a>
                <div class="item-border p-absolute"></div>
                <div class="item-info p-absolute"><a href="../jQuerybootstrapsCyzhmoban/project6.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                  <h5 class="cat antiquewhite-font">HH:MM:SS YYYY-MM-DD</h5>
                  <h4 class="lightgrey">Product Name</h4>
                  <span><span>More</span></span></a></div>
              </div>
            </div>
            <div class="work-item-box p-relative video  brand">
              <div class="work-item  p-relative over-hidden"><a href="../jQuerybootstrapsCyzhmoban/assets/img/project/project7/1.jpg">
                <div class="img-next-box " data-overlay="7"><img class="cover-bg-img" src="../jQuerybootstrapsCyzhmoban/assets/img/project/project7/1.jpg" alt="" data-dsn-position="57%"></div>
                </a>
                <div class="item-border p-absolute"></div>
                <div class="item-info p-absolute"><a href="../jQuerybootstrapsCyzhmoban/project7.html" data-dsn-grid="move-up" class="effect-ajax" data-dsn-ajax="work">
                  <h5 class="cat antiquewhite-font">HH:MM:SS YYYY-MM-DD</h5>
                  <h4 class="lightgrey">Product Name</h4>
                  <span><span>More</span></span></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>

<script src="../../static/js/sebian_js/jquery-1.11.3.js"></script>
<script src="../../static/js/sebian_js/wow.min.js"></script>
<script src="../../static/js/sebian_js/bootstrap.min.js"></script>
<script src="../../static/js/sebian_js/own-menu.js"></script>
<script src="../../static/js/sebian_js/main.js"></script>
<script src="../jQuerybootstrapsCyzhmoban/assets/js/plugins.js"></script>
<script src="../jQuerybootstrapsCyzhmoban/assets/js/dsn-grid.js"></script>
<script src="../jQuerybootstrapsCyzhmoban/assets/js/custom.js"></script>
</body>
</html>