<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static',filename='script/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='script/socket.io.js') }}"></script>
    <script src="{{ url_for('static',filename='script/av-min.js') }}"></script>

    <script src="{{ url_for('static',filename='script/im-browser.min.js') }}"></script>
    <script src="{{ url_for('static',filename='script/typed-messages.min.js') }}"></script>

    <script src="{{ url_for('static',filename='script/user.js') }}"></script>
{#    <script src="{{ url_for('static',filename='script/communication.js') }}"></script>#}


</head>
<body>
<script>
    Realtime=AV.Realtime
const realtime = new Realtime({
  appId: 'pPObpvTV7pQB9poQHO1NJoMP-MdYXbMMI',
  appKey: 'pShwYQQ4JVfSStc56MvkHNrr',

});
</script>
</body>





</html>